// main colors
$base-color: #9400ff;
$dark-base-color: #27005d;
$mild-base-color: #aed2ff;
$light-base-color: #e4f1ff;

// text accent colors
$accent-color-0: #a8df8e;
$accent-color-1: #ebef95;
$accent-color-2: #efd595;
$accent-color-3: #efb495;
$accent-color-4: #ef9595;

// generic colors
$white: #fff;
$black: #000;
